.body{
  font-family: 'Cairo', sans-serif;
  font-family: 'Lato', sans-serif;
}
.gameContainer {
  display: flex;
height: 40em;
width: 90%;
  border-style:outset;
  background-color: bisque;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.game{
  display: flex;
  width: 60%;
  background-color:rgb(236, 223, 218);
  box-shadow: 10px 5px 5px rgb(243, 158, 158);
  justify-content: center;
  align-self: center;
  height: 50%;
  align-items: center;
  margin-left: 5%;
}
.user{
  display: flex;
  text-align: center;
  color: aliceblue;
  justify-content: center;
}
.scoreSection{
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: crimson;
  margin-left: 10%;
  margin-right: 5%;
  box-shadow: 10px 5px 5px rgb(173, 89, 89);
  align-self: flex-start;
}

.startButton{

}
.goClick{
position: absolute;
top: 15%;
}

.goClick2{
  position: absolute;
  top: 15%;
  right: 60%;
  }

  .goClick3{
    position: absolute;
    bottom: 25%;
    }

.game button {
    background-color: red;
    margin-top: 5%;
}

.gameInput {
    display: flex;
    flex-direction: column;
}
.currentPlayer{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  height: 20em;
  background-color: blanchedalmond;
  color: black;
}
.endGame {
    display: flex;
    flex-direction: column;
}