.btnEqual {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  color: rgb(20, 20, 20);
  text-transform: uppercase;
  padding: 10%;
  margin-top: 5%;
  width: 100%;
  font-weight: bold;
  border-radius: 10%;
}
.btnEqual:hover {
  background: #da9cda;
  color: #410b41;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  box-shadow: inset 0 0 0 3px #481953;
}
.imgKey {
  margin-top: 5%;
  width: 20%;
}
.imgClick {
  width: 20%;
}
.btnSpacebar{
  position: relative;
  padding: auto;
  text-transform: uppercase;
  font-size: 120%;
  border-radius: 10%;
  color: aliceblue;
  margin-top: 5%;
  background: url("images/keyFutu.png");
  background-size: cover;
  height: 50%;
  width: 55%;
}
